
<div id="user-container">
    <div class="user-card">
        <div class="user-name">
            <img class="user-icon" [src]="user.image" alt="user-icon">
            {{ user.name }}
        </div>
        <div class="user-details">{{ user.details }}</div>
    </div>
    <div class="animals-count">
        <div class="cats">{{ animalIcons.cat }}:        {{ getUserAnimalCount().cats }}</div>
        <div class="dogs">{{ animalIcons.dog }}:        {{ getUserAnimalCount().dogs }}</div>
        <div class="parrots">{{ animalIcons.parrot }}:  {{ getUserAnimalCount().parrots }}</div>
    </div>

    <div class="buttons">
        <p-button id="add-animal-btn" label="Add Favorite Animals" (click)="goToAddFavoriteAnimal()"></p-button>
        <p-button id="edit-user-btn" label="Edit User Info" (click)="goToEditUser()"></p-button>
    </div>

</div>
