
<div id="user-form">
    <h1>Update user</h1>
    <span id="user-name" class="p-float-label">
        <input type="username" pInputText [(ngModel)]="user.name">
        <label for="float-input">Username</label>
    </span>
    <span id="user-details" class="p-float-label">
        <textarea pInputTextarea [(ngModel)]="user.details"></textarea>
        <label for="float-input">Details (optional)</label>
    </span>
    <div id="picture">
        <label for="">Profile Image</label>
        <img [src]="user.image" alt="" (error)="user.image = userService.defaultUserImage">
        <p-fileUpload name="myfile[]" accept="image/*" (onSelect)="handleInputFile($event)"></p-fileUpload>
    </div>
    <p-button id="update-user-btn" label="Update User" (click)="updateUser()"></p-button>
</div>
