p-button span {
  user-select: none;
}

img {
  display: block;
}

textarea {
  resize: none;
  height: 4rem;
}

input {
  appearance: none;
}

#animal-form {
  display: flex;
  width: 100%;
  // height: 100%;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 1rem;

  max-width: 40rem;
  margin: 0 auto;
}

p-dropdown > * {
  width: 100%;
}

#animal-form input,
#animal-form textarea,
#animal-form .animal-name,
#animal-form .animal-short-description,
#animal-form .animal-description,
#animal-form .animal-type,
#animal-form .animal-sex,
#animal-form .animal-age,
#animal-form .animal-vaccinated {
  width: 100%;
}

h1 {
  margin: 0;

  font-size: 3.5rem;
  text-align: center;
  color: #a875f5;
  text-shadow: 0.08em 0.08em 0.15em #000;
  user-select: none;
}

#user-form #user-name,
#user-form #user-name input,
#user-form #user-details,
#user-form #user-details textarea {
  width: 100%;
}

#user-form #user-details textarea {
  resize: none;
  height: 10rem;
}

#picture {
  width: 100%;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 0.7em;
  border: solid 2px #555;
}

#picture label {
  display: block;
}

#picture img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 40%;
  margin: 0.5rem auto;

  -webkit-user-drag: none;
}

.p-fileupload-buttonbar {
  display: flex;
}

p-fileUpload {
  user-select: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.12);
}

p-fileUpload .p-fileupload-choose {
  width: 100%;
}

p-fileUpload p-button,
p-fileUpload .p-fileupload-content {
  display: none;
}


.animal-image {
  width: 100%;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 0.7em;
  border: solid 2px #555;
}

.animal-image label {
  display: block;
}

.animal-image img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 40%;
  margin: 0.5rem auto;

  -webkit-user-drag: none;
}
