:host {
  position: relative;
  display: flex !important;
  flex-direction: column;
  padding: 0 !important;
}

p-dropdown span {
  user-select: none;
}

p-dropdown .p-dropdown {
  width: 100%;
}


.overlay > * {
  pointer-events: auto;
}

#filter {
  width: 50%;
  top: 0;
  left: 0;

  box-shadow: 0 0 1em 0.1em #000;

  z-index: 9;
}

@media (max-width: 450px) {
  #filter {
    width: 90%;
  }
}


.info {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;

  background-color: #090;
}

#animals-list {
  width: 100%;
  max-width: 1500px;
  // flex-grow: 1;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-content: center;
  gap: 2em;

  padding: 1rem;

  overflow: auto;
}

.animal-card {
  width: 12rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.7em 0.6em;

  border-radius: 1em;
  outline: solid 0.2em #241636;

  background-color: #654b89;

  box-shadow:
  2px 2px 0.7em 0.1em #e1aaf399,
  inset -4px -4px 5px 0px #111c
  ;

  cursor: pointer;
}


@media (max-width: 450px) {
  .animal-card {
    width: 17rem;
  }
}


.card-header {

}

.card-header > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: 1em;
  border: solid 0.25em #241636;
  background-color: #222;

  -webkit-user-drag: none;
}

.card-body {

}

.card-info {
  color: #ddd;
  text-align: center;
  padding: 0.5em;

  text-align: center;
}


.properties {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #542d78;
  border: solid 0.13em #2d0b4c;
  border-radius: 1em;

  padding: 0.3em 0.5em;
}

.animal-card.favorite {
  box-shadow:
  2px 2px 0.7em 0.3em #ff0,
  inset -4px -4px 5px 0px #111c
  ;
}









/* Scrollbar */


:root {
  --thumb-color: #34373e;
  --thumb-hover-color: #23242b;
  --thumb-active-color: #14171b;
  --thumb-box-shadow-color: #969696;
  --track-color: #000;
  --button-color: #47484c;
  --button-hover-color: #585d6b;
  --button-active-color: #6a707f;
  --button-box-shadow-color: #bfbfbf;
  --corner-color: #6f6f6f;
}


::-webkit-scrollbar {
  width:  var(--scrollbar-width, 10px);
  height: var(--scrollbar-height, 5px);
  background: var(--track-color, #0b1115);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color, #32577b);
  border-radius: 10px;
  box-shadow: inset var(--thumb-box-shadow-color, #5f93b9) 0 0 5px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-color, #1a3854);
}

::-webkit-scrollbar-thumb:active {
  background: var(--thumb-active-color, #0b1e2f);
}

::-webkit-scrollbar-button:single-button {
  width: 20px;
  height: 20px;
  background: var(--button-color, #1e4e80);
  box-shadow: inset var(--button-box-shadow-color, #338ed2) 0 0 5px 0;
}

::-webkit-scrollbar-button:hover {
  background: var(--button-hover-color, #183c63);
}

::-webkit-scrollbar-button:active {
  background: var(--button-active-color, #102740);
}


::-webkit-scrollbar-button:vertical:single-button:increment {
  border-radius: 10px 10px 0 0;
}

::-webkit-scrollbar-button:vertical:single-button:decrement {
  border-radius: 0 0 10px 10px;
}

::-webkit-scrollbar-button:horizontal:single-button:increment {
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-button:horizontal:single-button:decrement {
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-corner {
  background: var(--corner-color, #27588a);
}
