
<div id="recover-form">
    <h1>Recover Password</h1>
    <span id="email" class="p-float-label">
        <input type="email" pInputText [(ngModel)]="email">
        <label for="float-input">Email</label>
    </span>

    <p-button id="recover-btn" label="Recover Password" (click)="recoverPassword()"></p-button>

    <div class="links">
        <a class="login" href="login">
            <i class="pi pi-user"></i>
            Already have an account?
        </a>
        <a class="register" href="register">
            <i class="pi pi-user-plus"></i>
            Create a new account
        </a>
    </div>
</div>
